<div class="left column">
<p>Environmental Issues and Action - In this class, we will discuss articles which relate to Japan’s and the world’s most pressing environmental problems.  We will also look at what we can do at a personal level to help to create a better environment.  The class will focus on discussion, vocabulary building and learning sentence structure (through using articles).  Learn English and discover new actions you can do to make your life more fulfilling. (Intermediate)</p>

<h2>Mondays - 10:30AM - 12:00 Noon</h2>

<p>Those who are interested in the class may sign up for a practice lesson, held on March 25. Sign up for the practice lesson must be made before March 22, by email or by phone.</p>
</div>
<div class="right column">
</div>