<div class="left column">
  <h1>“Feel Good” Stories in English</h1>
  <p>Stories about inspirational people and news articles which touch the heart will form the basis of this class.  Students will listen to and/or read true stories about good deeds and acts of kindness.  The material will give you a “positive buzz” while  learning new vocabulary and ways your communication can become more inspiring. (Intermediate)</p>
<h2>Wednesdays - 8:25 - 9:10AM
</h2>
<p>Those who are interested in the class may sign up for a practice lesson, held on March 27.    Sign up for the practice lesson must be made before March 22, by email or by phone.</p>

</div>