
<div class="left column">
<h1>English with Football</h1>

<h2>Every Thursday (7:00 to 8:30pm)</h2>
<p>Let's have a fun time studying English and talking about football. Everyone is welcome, even if you don't like football. Female football fans are specially welcome!  For more details on dates and cost, please contact Steve at stespencer@gmail.com</p>

<p>Those who are interested in the class may sign up for a practice lesson, held on March 28.    Sign up for the practice lesson must be made before March 26, by email or by phone.</p>

</div>