<div class="left column">
  <h1>Jokes and Humor in English</h1>
  <p>Learn the ins and outs of jokes in English.  Humor is a great way to learn the subtleties and character of the language.  You will learn about word play, double meanings, and the cultural context in which jokes are understood.  This is a great chance to have fun and laugh while learning vocabulary and understanding/expressing humor to round out your English language skills. (high intermediate and above)</p>
<h2>Wednesdays - 7:30 - 8:15AM</h2>
<p>Those who are interested in the class may sign up for a practice lesson, held on March 27.    Sign up for the practice lesson must be made before March 22, by email or by phone.</p>
</div>