/*
	Stylesheet for Jambo School,
	code: Leszek Rybicki
	design: Jakub Kuik;
	date: 22.08.2012;
*/

@import url("/style/titilliumtext/stylesheet.css");


body{
	margin: 0;
	padding: 0;
	background: #7be9f0 url(../img/background.png) top center repeat-x;
	font-family: helvetica, arial, sans;
	font-size: 13px;
	color: #00787f;
	padding-bottom: 40px;
}


.home-page{
	font-size: 17px;
}

a{
	color: #00787f;
	text-decoration: underline;
}

#header{
	height: 110px;
	background: url(../img/header.png) top center repeat-x;
}

.align-right{
	text-align: right;
}

#clouds{
	background: url(../img/clouds.png) top center no-repeat;
	min-height: 600px;
}

#logo{
	display: block;
	width: 220px;
	height: 110px;
	text-indent: 220px;
	line-height: 220px;
	overflow: hidden;
	position: absolute;
	left: 0px;
	background: url(../img/jambo-school-logo.png) bottom left no-repeat;
}

#nav{
	position: absolute;
	right: 46px;
	top: 0;
	font-size: 15px;
}

#nav ul{
	list-style: none none;
	margin: 0;
	padding: 0;
	-webkit-margin-before: 0;
	font-family: 'TitilliumText22L';
}

#nav ul li{
	float: left;
	position: relative;
	height: 110px;
}

#nav ul li a{
	display: block;
	text-decoration: none;
	height: 110px;
	padding: 0 1.5em;
	line-height: 190px;
	color: #0c979f;
	border-bottom: 2px solid transparent;
}

#nav ul li a:hover{
	color: #2cb7bf;
	border-bottom: 3px solid white;
}

#nav ul li.active a{
	background: url(../img/menu-highlight.png) top center repeat-x;
}

.container{
	width: 1100px;
	margin: 0 auto;
	position: relative;
}

.row{
}

.diagram{
	text-indent: -100%;
	overflow: hidden;
	height: 400px;
	width: 100%;
	background: url(../img/diagram-jp.png) center center no-repeat;
}

.left.column{
	margin-left:23px;
}

.left.column img{
	float: right;
}

.right.column{
	margin-left: 46px;
}

.column{
	margin: 0px;
	width: 504px;
	float: left;
}

.right.column p, .right.column h1{
	margin-right: 46px;
}

br.clear{
	clear: both;
}

h1, h2, h3{
	font-family: 'TitilliumText22LThin';
	font-weight: normal;
	margin-top: 1.5em;
}

.home-page h1{
	text-align: right;
	font-weight: normal;
	line-height: 1.8em;
	font-size: 28px;
	color: #53bdbf;
	margin-top: 90px;
	margin-bottom: 40px;
}

.home-page p{
	line-height: 1.6em;
}


.note{
	margin: 0 0;
	width: 460px;
	margin-top: 14px;
	font-size: 13px;
	background: url(../img/note-bottom.png) bottom center no-repeat;
	position: relative;
	text-align: left;
}

.left.column p{
}

.left.column .note{
	margin-left: 46px;
}

.note h1, .note h2, .note h3, .note h4{
	margin-top: 0;
}

.note .content{
	padding: 15px 19px;
	background: url(../img/noise.png); 
	position: relative;
	min-height: 120px;
	top: -14px;
	margin-left: 1px;
}

.mc-field-group{
	margin-bottom: 3px;
}

label{
	display: block;
	width: 120px;
	float: left;
	clear: left;
	line-height: 25px;
	text-align: right;
}

input[type=text], input[type=email], input[type=password]{
	width: 180px;
	height: 22px;
	font-size: 16px;
	border-radius: 10px;
	border: none;
	color: #666;
	border: 1px solid #ddd;
}


input[type=submit]{
	width: 100px;
	float: right;
	border: none;
	background: #15868d;
	color: white;
	border-radius: 10px;
}

.article {
	margin-left: 23px;
	width: 800px;
}

.center{
	margin: 0 auto;
}

#footer{
	font-size: 12px;
	clear: both;
	width: 100%;
	background: url(../img/footer.png) top center repeat-x;
	padding-top: 14px;
	padding-bottom: 3px;
	position: fixed;
	bottom: -5px;
}

#footer .left.column{
	text-align: left;
}

#footer .right.column{
	text-align: right;
}

#footer .left p{
}

#footer .right p{
	margin-right: 23px;
}

#footer .content{
	background: url(../img/footer-noise.png) top center;
	height: 100%;
}
