<div class="article">
<h1>ジャンボの使命と方針</h1>

<p>当校の学習方法はとにかくユニークです。従来のクラス形 式で勉強することもできますし、希望すればクラスのほか に、ジャンボのさまざまな活動に参加しながら英語を話す 機会が得られます。またあなた自身で、どのような方法で学 んでいくのかを決めることもできるのです。</p>

<p>楽しく学ぶ--これに尽きます! ジャンボ学校で学ぶ特典</p>

<ol>
	<li>少人数で和気あいあいのクラス--最大で8人までの生徒しか取らないので、ひとりひとりに目が行き届きます。</li>
	<li>先生と、時間外に自由に会話できる時間が設けられてい ます--学校は、授業が始まる30分前から開きます。生徒 は早めに学校に来て、無料の紅茶やコーヒー(ご自分でお 好きな飲み物やお菓子を持ち込むこともOK)を楽しみな がら先生とたわいのないおしゃべりをしたり、英語に関する質問をしたりできます。もちろん、予習をしたり、ただのんび りするだけでもかまいません。</li>
	<li>さらに先へ--ジャンボ学校で学ぶあなたは、JAMBOインターナショナルという団体のイベントに参加 することができます。そこでは外国人との新たな出会いがあ るうえに、自然に親しんだり、ボランティア活動をしたり、 パーティに参加するという、お楽しみが待っています。</li>
</ol>

<h1>講師David Howensteinについて</h1>

<p>デーヴィッド・ハウエンスタインはＮＨＫ文化センターで約20年間勤務し、2012年９月のＮＨＫ文化センター東陽町教室の閉鎖にともない、 ＪＡＭＢＯ学校を立ち上げた。個人教授をはじめ、さまざまなコミュニティ・センターや大学、自分が考案したクラスの英語教師としてフルタイム働く かたわら、1996年からはＪＡＭＢＯインターナショナル・センター（ＪＩＣ）を運営をしている。ＪＩＣは、モットーとする「楽しみながら、世の ためにつくす」に基づいて、ボランティア活動、ハイキングなどを主催し、国際的な交歓会に参加しながら、さまざまな環境保護／人間開発団体のため の募金活動を行っている（<a href="http://www.jambointernational.org">http://www.jambointernational.org</a>参照）。</p>
<br>

	<div class="note center"><div class="content" style="padding: 11px 8px">
			<img src="img/david.jpg" alt="David Howenstein">
		</div></div>

<h2>デーヴィッド・ハウエンスタイン講師略歴</h2>

<p>1960年米国ミズーリ州セントルイス生まれ。オハイオ州ウィルミントン大学で哲学、文学、平和学を学んだ後、大学院で国際学修士号と経営管理学 修士号（ＭＢＡ）を取得。日本では最初に長崎のＹＭＣＡで２年間働いた後、1989年からは東京に拠点を移して英語教師として働いている（その 間、２年ほどアフリカ、アメリカ、日本国内を旅して、ＪＡＭＢＯインターナショナル・センター拡大の準備を行う）。</p>

<p>デーヴィッドは、ＪＡＭＢＯ学校を楽しい場所にして、生徒さんが会話できる英語を学べるようにしたいと望んでいる。そして、生徒さんたちが新たな 知識を活用できる、さまざまな機会（ハイキング、パーティ、ボランティア活動）なども提供する。</p>

</div>