<div class="left column">
<h1>現在進行中のクラス</h1>
<p>(どのクラスも最大8人まで。準プライベートクラスは3人まデ)</p>
<p>(事前に授業見学もデきます。)</p>

<p>授業料は3ヶ月単位。次の学期は2012年の10月~12月までです。</p>

<p>毎月曜 (6:30 - 8:00PM) - 英会話初級2<br>
11 times - ¥27,720</p>

<p>毎月曜 (8:15 - 9:00PM) - 英会話初級セミプライベートレッスン(定員3名)<br>
11 times - ¥34,650</p>

<p>毎水曜 (7:00 - 8:30PM) - 英会話入門 <br>12 times - ¥30,240</p>

<p>毎金曜 (6:30 - 8:00PM) - トピック英会話&旅行の英会話<br> 
	11 times ¥27,720</p>

<p>毎金曜 (8:15 - 9:00PM) - 英会話初級セミプライベートレッスン(定員3名)<br>
11 times - ¥34,650</p>

<p>毎土曜 (2:00 - 3:30PM) - トピック英会話&旅行の英会話 <br>11 times - ¥27,720</p>
<p>毎土曜 (3:45 - 5:15PM) - One Step Up English - 文法から英語まで - 上級<br>
11 times - ¥27,720</p>

<p>授業料（学期開始前に一括前納）は、最初の授業が始まる前日までに銀行振込みでも行えます。</p>

<div class="note"><div class="content">
	銀行名:　みずほ銀行（高田馬場支店）<br>
口座名: デイヴィッド　ハウェンスタイン (David Howenstein)<br>
口座番号 (普通): 2038648</p>
</div>
</div>


<p>あるいは、最初の授業が始まるまでに、現金でデーヴィッドに直接手渡してくださってもかまいません。中途入学の生徒は、その学期の残りのクラスの授業料のみをお支払いください。</p>

<p>クラスに空きがあるかどうかを確認したい方は、david@jamboschool.jp までメールするか、080-6546-7688に電話して、デーヴィッドにおたずねください。</p>


</div>

<div class="right column">

<h1>自分に合う授業内容をオーダーする</h1>

<p>プライベート授業や、あなたが取りまとめた少人数クラスで、自分好みの勉強ができるような授業内容にすることができます（相談は無料ですので、どのような方法にすればいいのかデーヴィッドにご相談ください）。</p>

<p>融通のきく時間と場所－－あなたが取りまとめたクラスのご都合に合わせて、場所や時間の変更に応じます。さらにジャンボ学校のユニークな点は、ご希望に応じてふつうとは違う時間に授業を行えるということです（先生の時間が空いていれば、朝６時から夜の12時までの間ならいつでも）</p>

<h3>授業を行う場所の候補</h3>

<ul>
	<li>ジャンボ英語学校（門前仲町）</li>
	<li>喫茶店</li>
	<li>カラオケボックス</li>
	<li>コミュニティ・センター（クラス単位）</li>
</ul>

<p>デーヴィッドは上記の場所すべてで教えた経験があるので、あなたが勉強したい地域ではどこがいちばん雰囲気がいいかなどのアドバイスができます。</p>

<p>オーダーメードの英語クラスの負担金</p>

<br>
<div class="note">
	<div class="content">
<style type="text/css">
	table thead th{
		border-bottom: 1px solid #ccc;
	}
	table td, table th{
		text-align: center;
	}
</style>
<table width="100%">
	<thead>
		<tr><th>人数</th><th>          １時間  </th><th>    1.5時間 </th><th>    2時間</th></tr>
	</thead>
	<tbody>
		<tr><th>1</th><td>                   ¥5000</td><td>              ¥7000</td><td>            ¥8000</td></tr>
		<tr><th>2</th><td>                   ¥7000</td><td>              ¥9000</td><td>            ¥11000 </td></tr>
		<tr><th>3</th><td>                   ¥8500</td><td>              ¥11000</td><td>          ¥13000</td></tr>
		<tr><th>4</th><td>                   ¥9500</td><td>              ¥12000</td><td>          ¥15000</td></tr>
		<tr><th>5人以上</th><td>	    ¥10000</td><td>            ¥13000</td><td>          ¥16000</td></tr>
	</tbody>
</table>
<br class="clear">
</div>
</div>
<p>＊生徒には、ジャンボ学校以外の場所で授業を行うために余分にかかった費用（教師の交通費や飲み物代など）の負担をお願いします。また、間際のキャンセル（授業前日、授業当日）には、キャンセル料がかかります。それ以前のキャンセルについては無料です。
</p>
<p>質問や授業についてのご相談がある方は、気軽にジャンボ学校のデーヴィッド・ハウエンスタインにご連絡を。</p>

</div>
<br class="clear">
