<div class="left column">
<h2>SET ONGOING CLASSES </h2>
<br>
<p>(どのクラスも最大8人まで。準プライベートクラスは3人まデ)</p>
<p>(事前に授業見学もデきます。)</p>

<p>授業料は3ヶ月単位。次の学期は2012年の10月~12月までです。</p>

<p>毎月曜 (6:30 - 8:00PM) - 英会話初級2<br>
11 times - ¥27,720</p>

<p>毎月曜 (8:15 - 9:00PM) - 英会話初級セミプライベートレッスン(定員3名)<br>
11 times - ¥34,650</p>

<p>毎水曜 (7:00 - 8:30PM) - 英会話入門 <br>12 times - ¥30,240</p>

<p>毎金曜 (6:30 - 8:00PM) - トピック英会話&旅行の英会話<br> 
	11 times ¥27,720</p>

<p>毎金曜 (8:15 - 9:00PM) - 英会話初級セミプライベートレッスン(定員3名)<br>
11 times - ¥34,650</p>

<p>毎土曜 (2:00 - 3:30PM) - トピック英会話&旅行の英会話 <br>11 times - ¥27,720</p>
<p>毎土曜 (3:45 - 5:15PM) - One Step Up English - 文法から英語まで - 上級<br>
11 times - ¥27,720</p>
</div>

<div class="right column">

<h2>CUSTOM MADE CLASSES</h2>

<p>You can design the kind of course you wish to study, either privately or in a class you’ve made (Free consultation with David on how to do this)</p>

<p>Flexible times and places to study - You can change the times of your classes according to your convenience and the place of study according to your changing needs. Yet another unique feature of JAMBO School is that classes are available upon request at irregular hours (anytime after 6:00AM or before 12:00 midnight - depending on availability)</p>

<p>Possible Places of Study:</p>

<ul>
	<li>JAMBO English School (MonzenNaka-cho)</li>
	<li>Coffee Shop</li>
	<li>Karaoke Box</li>
	<li>Community Center Room (for classes)</li>
</ul>

<p>David teaches in all of these places and can suggest the best kind of place, depending on the area and atmosphere in which you wish to study. </p>

<p>Charges for Custom Made English Classes</p>
<br>
<div class="note">
	<div class="content">
<style type="text/css">
	table thead th{
		border-bottom: 1px solid #ccc;
	}
	table td, table th{
		text-align: center;
	}
</style>
<table width="100%">
	<thead>
		<tr><th>People</th><th>          1 Hour</th><th>             1.5 Hours</th><th>       2 Hours</th></tr>
	</thead>
	<tbody>
		<tr><th>1</th><td>                   ¥5000</td><td>              ¥7000</td><td>            ¥8000</td></tr>
		<tr><th>2</th><td>                   ¥7000</td><td>              ¥9000</td><td>            ¥11000 </td></tr>
		<tr><th>3</th><td>                   ¥8500</td><td>              ¥11000</td><td>          ¥13000</td></tr>
		<tr><th>4</th><td>                   ¥9500</td><td>              ¥12000</td><td>          ¥15000</td></tr>
		<tr><th>5 or more</th><td>	    ¥10000</td><td>            ¥13000</td><td>          ¥16000</td></tr>
	</tbody>
</table>
<br class="clear">
</div>
</div>
<p>* The students are responsible for paying any additional fees (i.e. coffee, teacher transport fees, etc.) incurred by the teacher for classes which are not held at JAMBO School; the student is required to pay for late cancelations (the day before the expected class or the day of the class);  there will be no charge for cancelations made before that time.</p>

</div>
<br class="clear">
