<div class="row">
	<div class="left column">
		<h1>Learning English<br>INSIDE &AMP; OUT</h1>
		<img src="img/sky_island.png" alt="">
	</div>
	<div class="right column">
		<div class="diagram">Learning, Connecting with others, Having fun</div>
		<p>当校の学習方法はとにかくユニークです。従来のクラス形 式で勉強することもできますし、希望すれぱクラスのほか に、ジャンボのさまざまな活動に参加しながら英語を話す機会が得られます。またあなた自身で、どのような方法で学んでいくのかを決めることもできるのです。</p>
		<p>楽しく学ふ　ー　これに尽きます!</p>
	</div>
	<br class="clear">
	<div class="left column align-right">
		<p>JAMBO English School<br>
		Learning English Inside & Out<br>
		In the Heart of MonzenNaka-cho<br>
		or available for teaching throughout Tokyo!</p>

		<p>LEARNING<br>
		HAVING FUN<br>
		OPPORTUNITIES TO CONNECT WITH OTHERS</p>

	</div>
	<div class="right column">
		<div class="note"><div class="content" style="padding: 11px 8px">
			<img src="img/photo.png" alt="David Howenstein">
		</div></div>
	</div>
	<br class="clear"><br><br>
	<div class="left column">
		<div class="note"><div class="content" style="height: 160px">
			<h3>Weekly FUN with English </h3>
			<br><br>
			<p>Coming soon.</p>
		</div></div>
	</div>
	<div class="right column">
		<div class="note"><div class="content" style="height: 160px">
			<h3>JAMBO Newsletter </h3>
			<p>Subscribe to get fresh information about classes and special events! </p>
			<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://jamboschool.us5.list-manage2.com/subscribe/post?u=e61f237f4c5eb638b28488c23&amp;id=40494aff1f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">

<div class="mc-field-group">
<label for="mce-EMAIL">メールアドレス：</label>
<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
<label for="mce-FNAME">名前： </label>
<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
<label for="mce-LNAME">姓：	</label>
<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
<input type="submit" value="無料で配信" name="subscribe" id="mc-embedded-subscribe" class="button">
<!--<div id="mce-responses" class="clear">
<div class="response" id="mce-error-response" style="display:none"></div>
<div class="response" id="mce-success-response" style="display:none"></div>
</div>-->
</div>

</form>
</div>
</div>

<!--End mc_embed_signup-->
		</div></div>
</div>