<div class="left column">
<h1>JAMBO Mission & Philosophy</h1>

<p>We are truly ONE OF A KIND, offering you the opportunity to study in a traditional classroom setting, using your English outside of the classroom (if you so desire) through our many activities, and giving you the chance to control the manner and avenues in which you study.  </p>

<p>HAVE FUN LEARNING - That’s what it’s all about!!!</p>

<h1>JAMBO School Classes</h1>

<ol>
	<li><strong>SMALL, PERSONAL CLASSES</strong> - The maximum class size is 7 students to offer you more personal attention.</li>
	<li><strong>MORE TEACHER-STUDENT PRIVATE TIME</strong> - The school opens 15 minutes before the class begins.  Students are welcome to come before the class to have hot tea or coffee (on the house) or bring your own drink/snack and have an informal chat with the teacher (or ask questions about English), study, or simply relax. </li>
	<li><strong>CONNECTIONS</strong> - By studying at JAMBO School, you are welcome to join JAMBO International events, giving you the opportunity to meet foreigners, get outdoors, do volunteerism, enjoy parties and have a great time.</li>
</ol>

</div>
<div class="right column">

  <h1>Broader Benefits</h1>

<p>Free HP Services - Learn Idioms, Proverbs, Thought-Provoking Quotes and Writings put up on the HP regularly in both English and Japanese - Great way to have fun and test your comprehension ability (Feel free to sign up free).</p>

<p>You have the opportunity to use your English outside of the classroom through the many activities which JAMBO International offers.</p>

<p>Being within the JAMBO framework, you also have the chance to meet all kinds of people (foreigners, other Japanese, people in different professions, etc.)</p>

<p>Classes limited to 7 students per class so that each student gets personal attention.</p>

<p>No Hidden Costs - There is NO registration fee and NO charge for copies which are provided by JAMBO.  The student pays for the course fee, text (if needed), and the teacher’s travel expense and drink fee (if the class is not held at the school).</p>



<h1>JAMBO School Rental</h1>

<p>The JAMBO School may be rented out for ¥2000 per hour when not it use.  Contact David (080-6546-7688) if interested.</p>
</div>