<div class="left column">
<h1>Benefits of Studying in JAMBO School Classes</h1>

<ul>
	<li><strong>SMALL, PERSONAL CLASSES</strong> - The maximum class size is 8 students to offer you more personal attention.</li>
	<li><strong>MORE TEACHER-STUDENT PRIVATE TIME</strong> - The school opens 30 minutes before the class begins.  Students are welcome to come before the class to have hot tea or coffee (on the house) or bring your own drink/snack and have an informal chat with the teacher (or ask questions about English), study, or simply relax. </li>
	<li><strong>CONNECTIONS</strong> - By studying at JAMBO School, you are welcome to join JAMBO International events, giving you the opportunity to meet foreigners, get outdoors, do volunteerism, enjoy parties and have a great time.</li>
</ul>

<h1>Benefits of Studying at JAMBO School</h1>

<p>Free HP Services - Learn Idioms, Proverbs, Thought-Provoking Quotes and Writings put up on the HP regularly in both English and Japanese - Great way to have fun and test your comprehension ability (Feel free to sign up free).</p>

<p>You have the opportunity to use your English outside of the classroom through the many activities which JAMBO International offers.</p>

<p>Being within the JAMBO framework, you also have the chance to meet all kinds of people (foreigners, other Japanese, people in different professions, etc.)</p>

<p>Classes limited to 8 students per class so that each student gets personal attention.</p>

<p>No Hidden Costs - There is NO registration fee and NO charge for copies which are provided by JAMBO.  The student pays for the course fee, text (if needed), and the teacher’s travel expense and drink fee (if the class is not held at the school).</p>
</div>
<div class="right column">
<h1>About the Teacher:  </h1>

<p>David Howenstein had been working with NHK Bunka Center for about 20 years and set up JAMBO School in September 2012 at the time NHK Bunka Center Toyocho was closing.  In addition to his full-time work as an English teacher (privately and at various community centers, university, and self-designed classes), David has been running JAMBO International Center (JIC) since 1996.  JIC is based on the concept of Having Fun, Doing Good - volunteering, hiking, and taking part in international get-togethers while raising money for various environmental / development groups (<a href="http://www.jambointernational.org" target="_blank">http://www.jambointernational.org</a>). </p><br>
	<div class="note center"><div class="content" style="padding: 11px 8px">
			<img src="img/david.jpg" alt="David Howenstein">
		</div></div>

<h2>Teacher’s History</h2>
<p>David was born in St. Louis, Missouri (USA) in 1960.  He studied Philosophy, Literature and Peace Studies at Wilmington College (Ohio) and went on to get his Master’s Degree in International Affairs and an MBA.  In Japan, David first worked in Nagasaki (at the YMCA) for about 2 years, and has been working in Tokyo since 1989 (except for two years when he was traveling between Africa, the US, and Japan preparing for the development of JAMBO International Center). </p>

<p> He hopes to provide students at JAMBO School with a fun atmosphere where they can learn conversational English, while giving them various opportunities (through hiking, parties, volunteering, etc) to put their newfound knowledge to use.</p>
<br>


</div>