<div class="left column">
<h1>JAMBO Mission & Philosophy</h1>

<p>We are truly ONE OF A KIND, offering you the opportunity to study in a traditional classroom setting, using your English outside of the classroom (if you so desire) through our many activities, and giving you the chance to control the manner and avenues in which you study.  </p>

<p>HAVE FUN LEARNING - That’s what it’s all about!!!</p>

<h1>JAMBO School Classes</h1>

<ol>
	<li><strong>SMALL, PERSONAL CLASSES</strong> - The maximum class size is 7 students to offer you more personal attention.</li>
	<li><strong>MORE TEACHER-STUDENT PRIVATE TIME</strong> - The school opens 15 minutes before the class begins.  Students are welcome to come before the class to have hot tea or coffee (on the house) or bring your own drink/snack and have an informal chat with the teacher (or ask questions about English), study, or simply relax. </li>
	<li><strong>CONNECTIONS</strong> - By studying at JAMBO School, you are welcome to join JAMBO International events, giving you the opportunity to meet foreigners, get outdoors, do volunteerism, enjoy parties and have a great time.</li>
</ol>

</div>
<div class="right column">
  <div class="note left"><div class="content" style="padding: 11px 8px">
      <img src="img/classroom1.jpg" width="440" height="330" alt="Jambo School picture">
    </div></div>
</div>