<div class="article">
<h1>Benefits of Studying in JAMBO School Classes</h1>

<ul>
	<li><strong>SMALL, PERSONAL CLASSES</strong> - The maximum class size is 8 students to offer you more personal attention.</li>
	<li><strong>MORE TEACHER-STUDENT PRIVATE TIME</strong> - The school opens 30 minutes before the class begins.  Students are welcome to come before the class to have hot tea or coffee (on the house) or bring your own drink/snack and have an informal chat with the teacher (or ask questions about English), study, or simply relax. </li>
	<li><strong>CONNECTIONS</strong> - By studying at JAMBO School, you are welcome to join JAMBO International events, giving you the opportunity to meet foreigners, get outdoors, do volunteerism, enjoy parties and have a great time.</li>
</ul>

<h1>Benefits of Studying at JAMBO School</h1>

<p>Free HP Services - Learn Idioms, Proverbs, Thought-Provoking Quotes and Writings put up on the HP regularly in both English and Japanese - Great way to have fun and test your comprehension ability (Feel free to sign up free).</p>

<p>You have the opportunity to use your English outside of the classroom through the many activities which JAMBO International offers.</p>

<p>Being within the JAMBO framework, you also have the chance to meet all kinds of people (foreigners, other Japanese, people in different professions, etc.)</p>

<p>Classes limited to 8 students per class so that each student gets personal attention.</p>

<p>No Hidden Costs - There is NO registration fee and NO charge for copies which are provided by JAMBO.  The student pays for the course fee, text (if needed), and the teacher’s travel expense and drink fee (if the class is not held at the school).</p>

<h1>講師David Howensteinについて</h1>

<p>デイヴィッド・ハウェンスタイン はＮＨＫ文化センターで約20年間勤務し、2012年９月のＮＨＫ文化センター東陽町教室の閉鎖にともない、 ＪＡＭＢＯ学校を立ち上げた。個人教授をはじめ、さまざまなコミュニティ・センターや大学、自分が考案したクラスの英語教師としてフルタイム働く かたわら、1996年からはＪＡＭＢＯインターナショナル・センター（ＪＩＣ）を運営をしている。ＪＩＣは、モットーとする「楽しみながら、世の ためにつくす」に基づいて、ボランティア活動、ハイキングなどを主催し、国際的な交歓会に参加しながら、さまざまな環境保護／人間開発団体のため の募金活動を行っている（<a href="http://www.jambointernational.org">http://www.jambointernational.org</a>参照）。</p>
<br>

	<div class="note center"><div class="content" style="padding: 11px 8px">
			<img src="img/david.jpg" alt="David Howenstein">
		</div></div>

<h2>デイヴィッド・ハウェンスタイン講師略歴</h2>

<p>1960年米国ミズーリ州セントルイス生まれ。オハイオ州ウィルミントン大学で哲学、文学、平和学を学んだ後、大学院で国際学修士号と経営管理学 修士号（ＭＢＡ）を取得。日本では最初に長崎のＹＭＣＡで２年間働いた後、1989年からは東京に拠点を移して英語教師として働いている（その 間、２年ほどアフリカ、アメリカ、日本国内を旅して、ＪＡＭＢＯインターナショナル・センター拡大の準備を行う）。</p>

<p>デイヴィッドは、ＪＡＭＢＯ学校を楽しい場所にして、生徒さんが会話できる英語を学べるようにしたいと望んでいる。そして、生徒さんたちが新たな 知識を活用できる、さまざまな機会（ハイキング、パーティ、ボランティア活動）なども提供する。</p>

</div>