<div class="left column">

<h1>Set Ongoing Classes</h1>
<p>Each class is limited to 7 students and Semi-Private classes are limited to 3.</p>
<p>Potential Newcomers are welcome to have observe a class.</p>


<p>These classes are paid for quarterly, with the next quarter running from April to June, 2013:</p>

<p>Every Monday (10:30AM - 12:00) - Environmental Issues and Action <span class="new">NEW!!!</span><br>
 11 times - ¥27,720</p>

<p>Every Monday (1:30 - 3:00PM) - Relaxing English Conversation<br>
11 times - ¥27,720</p>

<p>Every Monday (6:30 - 8:00PM) - Beginner 2<br>
11 times - ¥27,720</p>

<p>Every Monday (8:15 - 9:00) - Semi-Private Lesson - Beginner<br>
11 times - ¥34,650</p>

<p>Every Wednesday (7:30 - 8:15AM) - Jokes and Humor in English <span class="new">NEW!!!</span><br>
	11 times - ¥27,720</p>

<p>Every Wednesday (8:25 - 9:10AM) - “Feel Good” Stories in English <span class="new">NEW!!!</span>  <br>
	11 times - ¥27,720</p>

<p>Every Wednesday (7:00 - 8:30PM) - Introductory English Conversation <br>
11 times - ¥27,720</p>

<p>Every Wednesday (8:45 - 9:30) - Semi-Private Lesson - Beginner<br>
10 times - ¥31,500</p>

<p>Every Friday (8:15 - 9:00) - Semi-Private Lesson - Beginner<br>
11 times - ¥34,650</p>

<p>Every Saturday (2:00 - 3:30PM) - Topics in English &amp; for Traveling<br>
11 times - ¥27,720</p>

<p>Every Saturday (3:45 - 5:15PM) - One Step Up English - From Grammar to Spoken English - Advanced<br>
11 times - ¥27,720</p>

<p>For your convenience, payments (paid in full at the beginning of the term) may be made by bank transfer anytime until the day before the first class at</p>

<div class="note"><div class="content">
Bank Name:　Mizuho Bank (Toyocho Branch)<br>
Account Name: HOWENSTEIN DAVID TODD (ジャンボスクール）<br>
Account Number (Kind of Account): 1215174 (Usual (Futsu))<br>
</div>
</div>
<p>or by cash directly to David before the first class. New students may join at mid-term and pay the balance for the remainder of the term.</p>

<p>Please contact David by email (<a href="mailto:david@jamboschool.jp">david@jamboschool.jp</a>) or by telephone (080-6546-7688) to make sure that the class isn’t filled up.</p>




</div>

<div class="right column">

<h1>New Classes</h1>
	<a class="buttonbanner" href="/classes/environmental-issues"><h1><%= t.menu.environmental %></h1>Mondays - 10:30AM - 12:00 Noon<
</a>
	<a class="buttonbanner" href="/classes/jokes-and-humor"><h1><%= t.menu.jokes %></h1>Wednesdays - 7:30 - 8:15AM</a>
	<a class="buttonbanner" href="/classes/feel-good-stories"><h1><%= t.menu.feelgood %></h1>Wednesdays - 8:25 - 9:10AM</a>
	<a class="buttonbanner" href="/classes/football"><h1><%= t.menu.football %></h1>Every Thursday (7:00 to 8:30pm)</a>

<h1>Custom Made Classes</h1>

<p>You can design the kind of course you wish to study, either privately or in a class you’ve made (Free consultation with David on how to do this).</p>

<p>Flexible times and places to study - You can change the times of your classes according to your convenience and the place of study according to your changing needs. Yet another unique feature of JAMBO School is that classes are available upon request at irregular hours (anytime after 6:00AM or before 12:00 midnight - depending on availability)
</p>

<h3>Possible Places of Study:
</h3>

<ul>
	<li>JAMBO English School (MonzenNaka-cho)</li>
	<li>Coffee Shop</li>
	<li>Karaoke Box</li>
	<li>Community Center Room (for classes)</li>

</ul>

<p>David teaches in all of these places and can suggest the best kind of place, depending on the area and atmosphere in which you wish to study. </p>

<p>Charges for Custom Made English Classes</p>

<br>
<div class="note">
	<div class="content">
<style type="text/css">
	table thead th{
		border-bottom: 1px solid #ccc;
	}
	table td, table th{
		text-align: center;
	}
</style>
<table width="100%">
	<thead>
		<tr><th>People</th><th>          1 hour </th><th>    1.5 hours </th><th>    2 hours</th></tr>
	</thead>
	<tbody>
		<tr><th>1</th><td>                   ¥5000</td><td>              ¥7000</td><td>            ¥8000</td></tr>
		<tr><th>2</th><td>                   ¥7000</td><td>              ¥9000</td><td>            ¥11000 </td></tr>
		<tr><th>3</th><td>                   ¥8500</td><td>              ¥11000</td><td>          ¥13000</td></tr>
		<tr><th>4</th><td>                   ¥9500</td><td>              ¥12000</td><td>          ¥15000</td></tr>
		<tr><th>5 or more</th><td>	    ¥10000</td><td>            ¥13000</td><td>          ¥16000</td></tr>
	</tbody>
</table>
<br class="clear">
</div>
</div>
<p>*The students are responsible for paying any additional fees (i.e. coffee, teacher transport fees, etc.) incurred by the teacher for classes which are not held at JAMBO School; the student is required to pay for late cancelations (the day before the expected class or the day of the class);  there will be no charge for cancelations made before that time.


</p>
<p>Feel free to contact David Howenstein at JAMBO School if you have any questions or seek consultation on taking lessons.</p>

</div>
<br class="clear">
