<div class="row">
	<div class="left column">
		<h1>Learning English<br>INSIDE &AMP; OUT</h1>
		<img src="img/sky_island.png" alt="">
	</div>
	<div class="right column">
		<div class="diagram en">Learning, Connecting with others, Having fun</div>
		<p>We are truly ONE OF A KIND, offering you the opportunity to study in a traditional classroom setting, using your English outside of the classroom (if you so desire) through our many activities, and giving you the chance to control the manner and avenues in which you study.  </p>

		<p>HAVE FUN LEARNING - That’s what it’s all about!!!</p>
	</div>
	<br class="clear">
	<div class="left column align-right">
		<p>JAMBO English School</p>
		<p>Learning English Inside & Out<br>
		In the Heart of MonzenNaka - cho OR<br>
		available for teaching throughout Tokyo</p>

<h3>LEARNING<br>
HAVING FUN<br>
OPPORTUNITIES TO CONNECT WITH OTHERS</h3>

	</div>
	<div class="right column">
		<div class="note"><div class="content" style="padding: 11px 8px">
			<img src="img/photo.png" alt="David Howenstein">
		</div></div>
	</div>
	<br class="clear"><br><br>
	<div class="left column">
		<div class="note"><div class="content" style="height: 160px">
			<h3>Fun with English</h3>
			<br><br>
			<h1 style="text-align: center"><a href="/fun">COMING SOON</a></h1>
		</div></div>
	</div>
	<div class="right column">
		<div class="note"><div class="content" style="height: 160px">
			<h3>ＪＡＭＢＯ School Newsletter</h3>
			<p>Please sign up here if you want to receive free updates.</p>
			<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://jamboschool.us5.list-manage2.com/subscribe/post?u=e61f237f4c5eb638b28488c23&amp;id=40494aff1f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">

<div class="mc-field-group">
<label for="mce-EMAIL">E-mail address:</label>
<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
<label for="mce-NAME">Name: </label>
<input type="text" value="" name="NAME" class="" id="mce-NAME">
<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
<div id="mce-responses" class="clear">
<div class="response" id="mce-error-response" style="display:none"></div>
<div class="response" id="mce-success-response" style="display:none"></div>
</div>
</div>

</form>
</div>
</div>

<!--End mc_embed_signup-->
		</div></div>
		<br class="clear">
</div>
