
<div class="left column">
<h1>David Howenstein</h1>

  <div class="note left"><div class="content" style="padding: 11px 8px">
      <img src="img/david.jpg" width="440" height="330" style="float: none" alt="David Howenstein">
    </div></div>


<p>David Howenstein had been working with NHK Bunka Center for about 20 years and set up JAMBO School in September 2012 at the time NHK Bunka Center Toyocho was closing.  In addition to his full-time work as an English teacher (privately and at various community centers, university, and self-designed classes), David has been running JAMBO International Center (JIC) since 1996.  JIC is based on the concept of Having Fun, Doing Good - volunteering, hiking, and taking part in international get-togethers while raising money for various environmental / development groups (<a href="http://www.jambointernational.org" target="_blank">http://www.jambointernational.org</a>). </p><br>

<h2>Teacher’s History</h2>
<p>David was born in St. Louis, Missouri (USA) in 1960.  He studied Philosophy, Literature and Peace Studies at Wilmington College (Ohio) and went on to get his Master’s Degree in International Affairs and an MBA.  In Japan, David first worked in Nagasaki (at the YMCA) for about 2 years, and has been working in Tokyo since 1989 (except for two years when he was traveling between Africa, the US, and Japan preparing for the development of JAMBO International Center). </p>

<p> He hopes to provide students at JAMBO School with a fun atmosphere where they can learn conversational English, while giving them various opportunities (through hiking, parties, volunteering, etc) to put their newfound knowledge to use.</p>
<br>


</div>

<div class="right column">
<h1>Steven Spencer</h1>

  <div class="note left"><div class="content" style="padding: 11px 8px">
      <img src="img/steve.jpg" width="440" height="330" alt="Steven Spencer">
    </div></div>

<p>Stephen was born in Blackpool, England. He grew up watching English football and has been a fervent fan all his life. Apart from football he enjoys movies, music, yakitori and, of course, tea. 
He studied Humanities at Huddersfield University and Cinema at City College, London. He arrived in Japan in the late 1980s and since then has worked as an English teacher for many major corporations as well as Tokyo Fashion Art College, Junior Colleges, NHK Bunka Centre and Yomiuri Culture Centre. He also works as a copywriter, translator, writer and narrator. Since 2001 he has been the stadium announcer for J.League club F.C.Tokyo.</p>

<h2>Every Thursday (7:00 to 8:30pm) - English with Football</h2>

<p>Let's have a fun time studying English and talking about football. Everyone is welcome, even if you don't like football. Female football fans are specially welcome!  For more details on dates and cost, please contact Steve at <a href="mailto:stespencer@gmail.com">stespencer@gmail.com</a></p>
<p>Those who are interested in the class may sign up for a practice lesson, held on March 28.    Sign up for the practice lesson must be made before March 26, by email or by phone.</p>
 
</div>