<div class="left column">
<h1>環境問題と活動</h1>
<p>このクラスでは、日本や世界に差し迫っている環境問題について話し合います。さらには、より良い環境を作るために、個人レベルでどんな手助けができるかについても考えていきます。このクラスでは環境問題の記事を使って、ディスカッションをすることや、語彙の増加、文章の組み立てを学ぶことに力を注ぎます。英語を学びながら、人生を豊かなものにする新たな活動について探りましょう。（中級者が対象）</p>

<h2>毎週の月曜日　ー　10:30AM - 12:00</h2>
</div>
<div class="right column">
</div>