<div class="left column">
  <h1>心温まる話を学ぶ</h1>
  <p> このクラスでは、感動を与える人に関する話や胸を打つニュース記事が教材となります。生徒は善行や親切な行いに関する実話を聞いたり、読んだりします。心がほのぼのしているうちに、あなたの語彙は増え、話術のこつが身についていくのです。（中級者が対象）</p>
  <h2>毎週の水曜日 - 8:25 - 9:10AM</h2>
<p>このクラスに興味をお持ちの方は、３月27日に行われる体験レッスン（無料）に参加してみてはいかがでしょうか。体験レッスンへの参加申し込みは、３月22日必着で、Ｅメールか電話でお願いします。</p>
</div>