<div class="left column">
<h1>英語でフットボール</h1>

<h2>毎週の毎木曜日（７：００－８：３０PM）-b英語でフットボール (Stephen Spencer)</h2>

<p>フットボールファンもそうでない方もフットボールを題材に英語を楽しく学びましょう！女性のフットボールファンの方もご参加ください。熱きフットボールファンよ集まれ！</p>
<p>このクラスに興味をお持ちの方は、３月28日に行われる体験レッスン（無料）に参加してみてはいかがでしょうか。体験レッスンへの参加申し込みは、３月26日必着で、Ｅメールか電話でお願いします。</p>

</div>
