<div class="left column">
  <h1>ジョークやユーモアを学ぶ</h1>
  <p>英語でジョークの表裏を学びましょう。ユーモアは語学の機微や特徴を学ぶのにうってつけです。しゃれやごろ合わせ、文化的な背景を学べば、ジョークが理解できます。楽しみ、笑っているうちに単語が頭に入り、ユーモアを理解したり表現したりする方法が身について、英語力に磨きがかかります。（中級の上レベルかそれ以上の方が対象）</p>
<h2>毎週の水曜日 - 7:30 - 8:15AM</h2>
<p>このクラスに興味をお持ちの方は、３月27日に行われる体験レッスン（無料）に参加してみてはいかがでしょうか。体験レッスンへの参加申し込みは、３月22日必着で、Ｅメールか電話でお願いします。</p>
</div>