<div class="left column">
  <h1>ジャンボの使命と方針</h1>


<p>当校の学習方法はとにかくユニークです。従来のクラス形 式で勉強することもできますし、希望すればクラスのほか に、ジャンボのさまざまな活動に参加しながら英語を話す 機会が得られます。またあなた自身で、どのような方法で学 んでいくのかを決めることもできるのです。</p>

<p>楽しく学ぶ--これに尽きます!</p><p>ジャンボ学校で学ぶ特典</p>

<h1>ジャンボスクールのクラスについて</h1>

<ol>
	<li>少人数で和気あいあいのクラス--最大で7人までの生徒しか取らないので、ひとりひとりに目が行き届きます。</li>
	<li>先生と、時間外に自由に会話できる時間が設けられてい ます--学校は、授業が始まる15分前から開きます。生徒 は早めに学校に来て、無料の紅茶やコーヒー(ご自分でお 好きな飲み物やお菓子を持ち込むこともOK)を楽しみな がら先生とたわいのないおしゃべりをしたり、英語に関する質問をしたりできます。もちろん、予習をしたり、ただのんび りするだけでもかまいません。</li>
	<li>さらに先へ--ジャンボ学校で学ぶあなたは、JAMBOインターナショナルという団体のイベントに参加 することができます。そこでは外国人との新たな出会いがあ るうえに、自然に親しんだり、ボランティア活動をしたり、 パーティに参加するという、お楽しみが待っています。</li>
</ol>

</div>
<div class="right column">

<h1>ジャンボ学校で学ぶとなぜお得？</h1>

<p>ホームページサービスが受けられます（無料）－－定期的に英語と日本語でホームページにアップされている慣用句やことわざ、示唆に富んだ引用文や文章を学びましょう－－楽しいうえに、あなたの理解力もチェックできます（登録は無料ですのでお気軽にどうぞ）</p>

<p>ＪＡＭＢＯインターナショナルが提供するさまざまな活動に参加することで、クラスの外で英語力を試す機会が持てます。</p>

<p>あなたはジャンボメンバーの一員となったので、さまざまな人々（外国人、日本人、職種のまったく異なる人たち）との新たな出会いの場を手にしたのです。</p>

<p>ひとクラス最大7人までと決められているので、ひとりひとりの生徒に十分に目が行き届きます。</p>

<p>余分な出費は一切なし－－登録料やコピー費用などはジャンボ側が持ちますので、無料です。生徒は授業料、テキスト代（テキストを使いたい希望者がいた場合）、教師の交通費と飲み物代（授業が学校の外で行われる場合）のみを支払います。</p>



<h1>ジャンボスクールレンタル</h1>

<p>ジャンボスクールのクラスルームを借りられます（1時間￥2000）が、興味があったら、どうぞデイヴィッドに連絡してください。(080-6546-7688)</p>
</div>