<div class="left column">

<h1>ジャンボ学校で学ぶとなぜお得？</h1>

<p>ホームページサービスが受けられます（無料）－－定期的に英語と日本語でホームページにアップされている慣用句やことわざ、示唆に富んだ引用文や文章を学びましょう－－楽しいうえに、あなたの理解力もチェックできます（登録は無料ですのでお気軽にどうぞ）</p>

<p>ＪＡＭＢＯインターナショナルが提供するさまざまな活動に参加することで、クラスの外で英語力を試す機会が持てます。</p>

<p>あなたはジャンボメンバーの一員となったので、さまざまな人々（外国人、日本人、職種のまったく異なる人たち）との新たな出会いの場を手にしたのです。</p>

<p>ひとクラス最大7人までと決められているので、ひとりひとりの生徒に十分に目が行き届きます。</p>

<p>余分な出費は一切なし－－登録料やコピー費用などはジャンボ側が持ちますので、無料です。生徒は授業料、テキスト代（テキストを使いたい希望者がいた場合）、教師の交通費と飲み物代（授業が学校の外で行われる場合）のみを支払います。</p>

</div>
<div class="right column">

<h1>ジャンボスクールレンタル</h1>

<p>ジャンボスクールのクラスルームを借りられます（1時間￥2000）が、興味があったら、どうぞデイヴィッドに連絡してください。(080-6546-7688)</p>

  <div class="note left"><div class="content" style="padding: 11px 8px">
      <img src="img/classroom2.jpg" width="440" height="330" alt="ジャンボスクールレンタル">
    </div></div>
</div>