<div class="row">
	<div class="left column">
		<h1>室内外で英語を<br>とことん学ぶ</h1>
		<!--<h1>Learning English<br>INSIDE &AMP; OUT</h1>-->
		<img src="img/sky_island.png" alt="">
	</div>
	<div class="right column">
		<div class="diagram">Learning, Connecting with others, Having fun</div>
		<p>当校の学習方法はとにかくユニークです。従来のクラス形 式で勉強することもできますし、希望すれぱクラスのほか に、ジャンボのさまざまな活動に参加しながら英語を話す機会が得られます。またあなた自身で、どのような方法で学んでいくのかを決めることもできるのです。</p>
		<p>楽しく学ふ　ー　これに尽きます!</p>
	</div>
	<br class="clear">
	<div class="left column align-right">
		<p>ジャンボ英語学校</p>

		<p>室内外で英語をとことん学ぶ<br>
		於：門前仲町の中心部<br>
	　　そのほか東京であればどこでも</p>

		<h3>学ぼう<br>
		楽しもう<br>
		人々と交わろう</h3>

	</div>
	<div class="right column">
		<div class="note"><div class="content" style="padding: 11px 8px">
			<img src="img/photo.png" alt="David Howenstein">
		</div></div>
	</div>
	<br class="clear"><br><br>
	<div class="left column">
		<div class="note"><div class="content" style="height: 160px">
			<h3>今週のお楽しみ </h3>
			<br><br>
			<p>もうすぐ。</p>
		</div></div>
	</div>
	<div class="right column">
		<div class="note"><div class="content" style="height: 160px">
			<h3>ＪＡＭＢＯニュースレター</h3>
			<p>授業と楽しい催し物に関する最新情報を送って欲しい</p>
			<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://jamboschool.us5.list-manage2.com/subscribe/post?u=e61f237f4c5eb638b28488c23&amp;id=40494aff1f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">

<div class="mc-field-group">
<label for="mce-EMAIL">メールアドレス：</label>
<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
<label for="mce-NAME">名前： </label>
<input type="text" value="" name="NAME" class="" id="mce-NAME">
<input type="submit" value="無料で配信" name="subscribe" id="mc-embedded-subscribe" class="button">
<div id="mce-responses" class="clear">
<div class="response" id="mce-error-response" style="display:none"></div>
<div class="response" id="mce-success-response" style="display:none"></div>
</div>
</div>

</form>
</div>
</div>

<!--End mc_embed_signup-->
		</div></div>
		<br class="clear">
</div>
