<div class="left column">
<h2>講師デイヴィッド・ハウェンスタインについて</h2>

<p>デイヴィッド・ハウェンスタイン はＮＨＫ文化センターで約20年間勤務し、2012年９月のＮＨＫ文化センター東陽町教室の閉鎖にともない、 ＪＡＭＢＯ学校を立ち上げた。個人教授をはじめ、さまざまなコミュニティ・センターや大学、自分が考案したクラスの英語教師としてフルタイム働く かたわら、1996年からはＪＡＭＢＯインターナショナル・センター（ＪＩＣ）を運営をしている。ＪＩＣは、モットーとする「楽しみながら、世の ためにつくす」に基づいて、ボランティア活動、ハイキングなどを主催し、国際的な交歓会に参加しながら、さまざまな環境保護／人間開発団体のため の募金活動を行っている（<a href="http://www.jambointernational.org" target="_blank">http://www.jambointernational.org</a>参照）。</p>
<br>

  <div class="note center"><div class="content" style="padding: 11px 8px">
      <img src="img/david.jpg" style="float: none" alt="David Howenstein">
    </div></div>

<h2>デイヴィッド・ハウェンスタイン講師略歴</h2>

<p>1960年米国ミズーリ州セントルイス生まれ。オハイオ州ウィルミントン大学で哲学、文学、平和学を学んだ後、大学院で国際学修士号と経営管理学 修士号（ＭＢＡ）を取得。日本では最初に長崎のＹＭＣＡで２年間働いた後、1989年からは東京に拠点を移して英語教師として働いている（その 間、２年ほどアフリカ、アメリカ、日本国内を旅して、ＪＡＭＢＯインターナショナル・センター拡大の準備を行う）。</p>

<p>デイヴィッドは、ＪＡＭＢＯ学校を楽しい場所にして、生徒さんが会話できる英語を学べるようにしたいと望んでいる。そして、生徒さんたちが新たな 知識を活用できる、さまざまな機会（ハイキング、パーティ、ボランティア活動）なども提供する。</p>

</div>

<div class="right column">

<h2>講師スティーブン・スペンサーについて</h2>

<p>スティーブン・スペンサーはイギリスのブラックプールに生まれ幼い頃からフットボール（サッカー）を観て育ちフットボールをこよなく愛するイギリス人です。</p>

<p>映画や音楽も大好きで、紅茶はもちろん愛する物の一つです。今では焼き鳥も大好きです。</p>
<p>ハダースフィールド大学にて文学を学びロンドンシティカレッジでは映画についてを学びました。</p>
<p>１９８０年代後半に来日。多くの有名企業やファッシヨンスクール、専門学校、ＮＨＫ文化センター、読売カルチャーセンター等で英語講師として働き、ビートルズ関連の出版物への協力、雑誌や広告の英語コピー等も手がけ翻訳やナレーターの仕事もしています。</p>
<p>２００１年よりＪ現在までリーグF.C.Ｔｏｋｙｏのスタジアムアナウンサーとして大好きなフッボールの仕事に携わっています。</p>

</div>
